{% if shape.needs_module_alias or shape.needs_core_alias %}{% if shape.needs_module_alias %}private alias {{ service.module_alias }} = {{ service.module_name }}
{% endif %}{% if shape.needs_core_alias %}private alias Core = Amazonite::Core
{% endif %}
{% endif %}module {{ service.module_name }}
{% if shape.has_doc %}{{ shape.doc }}
{% endif %}  class {{ shape.name }}
{% if service.protocol == "query" -%}
{% for member in shape.members %}
{% if member.has_doc %}{{ member.doc }}
{% endif %}    property {{ member.snake_case_name }} : {{ member.type }}{% if member.has_default %} = {{ member.default }}{% endif %}
{% endfor -%}
    def initialize{% if shape.has_parameters %}({% for parameter in shape.parameters %}
      @{{ parameter.name }} : {{ parameter.type }}{% if parameter.is_optional %} = nil{% endif %},{% endfor %}
    ){% endif %}
    end

    def to_query_params(prefix : String) : Array({String, String})
      params = [] of {String, String}
{% for add in shape.query_adds %}
      {{ add.stmt }}
{% endfor -%}
      params
    end

    def self.from_xml(node : XML::Node) : self
      new({% for read in shape.xml_reads %}
        {{ read.name }}: {{ read.expr }},{% endfor %}
      )
    end

    def validate! : Nil
{% for validation in shape.validations %}
      {{ validation.stmt }}
{% endfor -%}
    end

    def_equals_and_hash({% for member in shape.members %}@{{ member.snake_case_name }}, {% endfor %})
{% else -%}
    include JSON::Serializable
{% for member in shape.members %}
{% if member.has_doc %}{{ member.doc }}
{% endif %}    @[JSON::Field(key: "{{ member.wire_name }}"{% if member.has_converter %}, converter: {{ member.converter }}{% endif %}{% if member.ignore %}, ignore: true{% endif %})]
    property {{ member.snake_case_name }} : {{ member.type }}{% if member.has_default %} = {{ member.default }}{% endif %}
{% endfor %}
    def initialize{% if shape.has_parameters %}({% for parameter in shape.parameters %}
      @{{ parameter.name }} : {{ parameter.type }}{% if parameter.is_optional %} = nil{% endif %},{% endfor %}
    ){% endif %}
    end

    def validate! : Nil
{% for validation in shape.validations %}
      {{ validation.stmt }}
{% endfor -%}
    end

    def_equals_and_hash({% for member in shape.members %}@{{ member.snake_case_name }}, {% endfor %})
{% endif -%}
  end
end