require "json"

require "./core/*"
require "./{{ service.lower_name }}_{{ service.lower_version }}/*"

module {{ service.module_name }}
  VERSION     = "{{ service.aws_version }}"
  API_VERSION = "{{ service.api_version }}"
end
