require "json"
require "xml"

require "./core/*"
require "./{{ service.module_slug }}/*"

module {{ service.module_name }}
  VERSION     = "{{ service.aws_version }}"
  API_VERSION = "{{ service.api_version }}"
end
