module Amazonite
  module {{ service.name }}{% for name in errors.names %}
    class {{ name.value }} < Amazonite::Core::ResponseException
    end
{% endfor %}
    class ExceptionFactory
      include Amazonite::Core::ResponseExceptionFactory

      def create_exception(error_type, http, message) : Amazonite::Core::ResponseException | Nil
        case error_type
        {% for name in errors.names %}when "{{ name.value }}"{{ name.spacing }} then {{ name.value }}.new(http, message)
        {% endfor %}end
      end
    end
  end
end

